# 01 - Verstehe deine Daten

Diese Mal laden wir die Datne direkt aus dem Internet.
Danke an: https://github.com/justmarkham für das Bereitstellen der Daten udn Materialien.

### Step 1. Importiere die notwendigen Bibliotheken.

In [2]:
import pandas as pd

### Step 2. Importiere das Datenset von folgender [Adresse](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

Note: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

`read_csv`: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-read-csv-table

In [ ]:
read_csv("https://gist.github.com/ServerlessBot/7618156b8671840a539f405dea2704c8", sep="\t")

### Step 3. Weise die Daten einer Variablen chipo zu.

In [5]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")

### Step 4. Schau dir die ersten 10 Zeilen an.

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. Wie viele Beobachtungen umfasst das Datenset?

In [13]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. Wie viele Spalten hat das Datenset?

In [21]:
chipo.shape

(4622, 5)

### Step 7. Gebe die Namen aller Spalten aus.

In [25]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. Erkennst du ein Muster in der Indexierung des Datesets?

In [45]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 9. Was ist das am häufigsten bestellte Produkt (item_name)?

In [67]:
chipo["item_name"].value_counts()["Chicken Bowl"]

726

In [84]:
chipo.groupby("order_id").agg(["mean", "sum"])

/var/folders/27/_w012g5n1c55m7kh9r8jyn488xbh04/T/ipykernel_98152/4108622314.py:1: FutureWarning: ['item_name', 'choice_description', 'item_price'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  chipo.groupby("order_id").agg(["mean", "sum"])

         quantity
             mean sum
order_id
1             1.0   4
2             2.0   2
3             1.0   2
4             1.0   2
5             1.0   2
...           ...  ..
1830          1.0   2
1831          1.0   3
1832          1.0   2
1833          1.0   2
1834          1.0   3

[1834 rows x 2 columns]

### Step 10. Wie oft wurde das am häufigste bestellte Produkt bestellt?

### Step 11. Was war das am häufigste bestellte Produkt, wenn es nach der choice_description geht?

### Step 12. Wie viele Produkte wurden insgesamt bestellt?

In [85]:
chipo.quantity.sum()

4972

**Wie viele Bestellungen gibt es?**

In [89]:
chipo.order_id.nunique()

1834

### Step 13. Den Preis als float schreiben

In [102]:
chipo["item_price"] = chipo.item_price.str.slice(start=1).astype(float)
chipo

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

#### Step 13.a. Überprüfe den Datentyp des Preises!

#### Step 13.b. Schreibe eine lambda Funktion und ändere den type des Preises zu float!

#### Step 13.c. Überprüfe den type!

### Step 14. Was war den Umsatz während der Datenerfassung?

In [104]:
(chipo.item_price * chipo.quantity).sum()

39237.02

### Step 15. Wie viele Bestellungen wurden während der Datenerfassung getätigt?

### Step 16. Was ist der durchschnittliche Umsatz pro Bestellung?

In [106]:
(chipo.item_price * chipo.quantity).mean()

8.489186499350943

In [107]:
(chipo.item_price * chipo.quantity).sum() / chipo.order_id.nunique()

21.39423118865867

In [110]:
chipo.groupby("order_id").apply(lambda grp: (grp["item_price"] * grp["quantity"]).sum()).agg(["min", "max", "std", "mean"])

min       10.080000
max     1074.240000
std       30.216891
mean      21.394231
dtype: float64

### Step 17. Wie viele verschiedene Produkte (item_names) wurden verkauft?

In [115]:
chipo.item_name.nunique()

50